.background_screen_video {
    overflow: hidden;
    max-width: 100vw;
    video{
    min-height: 100vh;

        @include lg {
            min-height: auto;
            width: 100%;
            aspect-ratio: 16/9;
        }
    }
}